# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/bower_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#Firebase credentials
/src/app/api-keys.ts

Lillard
https://s-media-cache-ak0.pinimg.com/originals/75/d3/ca/75d3cac271537685ab822c1aeba50bc3.jpg

McCollum
https://soloretevlog.files.wordpress.com/2016/04/mccollum.jpg

Harkless
http://sports.inquirer.net/files/2017/02/Hornets-Trail-Blazers_Inte.jpg

Aminu
http://a.fssta.com/content/dam/fsdigital/fscom/NBA/images/2015/09/30/PortlandTrailBlazers/093015-NBA-Portland-Trail-BlazersMM-PI13.vresize.1200.675.high.32.jpg

Nurkic
https://cdn0.vox-cdn.com/thumbor/xQRclI5SFEr6wbcp7o-6u_Hpt2g=/0x0:4000x2735/1200x800/filters:focal(1648x723:2288x1363)/cdn0.vox-cdn.com/uploads/chorus_image/image/53957669/usa_today_9978918.0.jpg

Crabbe
https://cdn0.vox-cdn.com/thumbor/GqvP021eFYm1GtcpaaxfCywWL74=/0x0:5760x3840/1200x800/filters:focal(0x0:5760x3840)/cdn0.vox-cdn.com/uploads/chorus_image/image/50075155/usa-today-9195582.0.jpg

Turner
http://clutchpoints.com/wp-content/uploads/2016/09/evan-turner.jpg

Leanord
http://blogs.pjstar.com/eye/files/2013/10/mediaday15.jpg

Davis
http://estaticos03.marca.com/albumes/2015/07/17/pasarela_nba_estrenando_uniformes/1437084944_extras_albumes_1_980.jpg

Napier
http://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2016%2F0930%2Fr133547_1296x729_16-9.jpg

Vonleh
https://cdn0.vox-cdn.com/thumbor/t5dqwVCwBSKam9tZGOii-05T3E4=/0x0:4000x2667/1200x800/cdn0.vox-cdn.com/uploads/chorus_image/image/51234815/usa-today-9566838.0.jpg

Layman
https://i2.wp.com/www.thebasketballnetwork.com/wp-content/uploads/2016/11/USATSI_9566904.jpg?fit=2048%2C1366
