
<hr>
<h4 id="about-label">About the Portland TrailBlazers</h4>



<p id="about-p">Representing Rip City, as was coined by the fan favorite commentator, Bill Schonely.  Sadly the Blazers haven't won a championship since 1977.  They currently have one of the youngest rosters in the league with lots of potential to mature.  With the addition of Jusuf Nurkic, the team sees lots of potential moving into the 2017-18 season.  What is to come of the recent Allen Crabbe trade?  Will Caleb Swanigan be the next Zach Randolph?</p>
