
<hr>
<h4 id="about-label">About the Portland TrailBlazers</h4>



<p id="about-p">The Portland TrailBlazers play for the city of Portland, Oregon.  The Blazers haven't won a championship since 1977.  They currently have one of the youngest rosters in the league.  With the addition of Yusif Nurkic, the team has currently turned itself around.  Hopefully, in the off season they'll pick up at least one solid first round pick out of their three!  Also, here's hoping said pick isn't plagued with Portland's history of getting an injury prone player.</p>
