<h3 id="new-player-label">Add A New Player to the team:</h3>
<div id="add-new-form" class="form-group">
  <div>
    <label>Player Name:</label>
    <br>
    <input class="form-control" #newName>
  </div>

  <div>
    <label>Player Position:</label>
    <br>
    <input class="form-control" #newPosition>
  </div>

  <div>
    <label>Player Height:</label>
    <br>
    <input class="form-control" #newHeight>
  </div>
  <div>
    <label>Profile Photo URL:</label>
    <br>
    <input class="form-control" #newphoto>
  </div>
  <br>
  <div>
    <label>Player Description:</label>
    <br>
    <textarea class="form-control" #newDescription></textarea>
  </div>
  <br>
  <button class="btn btn-default" (click)="submitForm(newName.value, newPosition.value.toLowerCase(), newHeight.value, newPhoto.value, newDescription.value); newName.value=''; newPosition.value=''; newHeight.value=''; newPhoto.value=''; newDescription.value=''">Add</button>
</div>
<div>
  <app-home></app-home>
</div>
