

body {
  background-image: url('./assets/court.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 6%;
  padding-top: 10%;
}

#logo {
  max-width: 50px;
  float:left;
}

.container {
  color: #fff;
}

div.well input,
div.well button {
  color: #000;
}

/***********
HOME PAGE
************/
#player-name:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px red;
  transition: all .5s ease;
  font-size: 2em;
}
#welcome {
  margin-bottom: 3%;
}

#welcome-group {
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.container #filter {
  margin-bottom: 3%;
  margin-top: 1%;
  border: solid 2px red;
  color: #000;
  font-size: 1.2em;
}

/***********
DETAIL PAGE
************/

div#detail-well,
#player-name {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

div#detail-well {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 60%;
  line-height: 1em;
}

#detail-well h5 {
  line-height: 1.75em;
}

#profile-photo {
  width: 80%;
}


/*********
ABOUT PAGE
**********/
#about-p {
  font-size: 1.2em;
  margin: 3.5% 7%;
}


/***********
MANAGEMENT PAGE
************/

#new-player-label {
  margin: 0 auto;
  text-align: center;
  margin-bottom: -2%;
}

#add-new-form,
#manager-home-view {
  margin: 0 auto;
  margin-top: 2%;
  /*margin-bottom: 2%;*/
}

#add-new-form label {
  margin-top: 1.5%;
}

#edit-label {
  margin: 0 auto;
  text-align: center;
}


#manager-view h5,
#manager-view h4 {
  margin: 0 auto;
  text-align: center;
}

#manager-view img {
  margin: auto;
  display: block;
  width: 50%;
  margin-bottom: 2%;
}

#manager-view h5 {
  line-height: 1.75em;
}


#manager-view label {
  text-align: left;
}

#jb-p {
  margin-left: 20%;
  display: inline-block;
}

#jb {
  color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: #1b1b1b
}

/************
MEDIA QUERIES
*************/

@media only (min-width:1025px) {
  body {
    padding-top: 4%;
  }
}
